<h2>Projetos</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Link Externo</th>
            <th scope="col">Resumo</th>
            <th scope="col">Palavras-Chave</th>
            <th scope="col">Alunos Membros</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {{#each projetos}}
        <tr>
            <th scope="row">{{nome}}</th>
            <td>{{linkExterno}}</td>
            <td>{{resumo}}</td>
            <td>
                {{#if palavrasChave}}
                    {{#each palavrasChave}}
                        <span class="badge bg-secondary me-1">{{palavraChave}}</span>
                    {{/each}}
                {{else}}
                    <em>Sem palavras-chave</em>
                {{/if}}
            </td>
            <td>
            {{#if membros}}
                {{#each membros}}
                    <div>{{usuarioLogin}} {{#if usuarioId}}(<small>{{usuarioId}}</small>){{/if}}</div>
                {{/each}}
            {{else}}
                <em>Sem membros</em>
            {{/if}}
            </td>
            {{!-- <td>Membro 1</td> --}}
            <td><a href="projetoUpdate/{{id}}">Editar</a></td>
            <td><a href="projetoDelete/{{id}}">Deletar</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>