<h2>Autalizar Projeto</h2>
<form action="/projetoUpdate" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value={{projeto.id}}>
    <div class="form-group">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" name="login" value="{{projeto.login}}">
    </div>
    <div class="form-group">
        <label for="inputLinkExterno">Link externo</label>
        <input type="text" class="form-control" id="inputLinkExterno" name="linkExterno" value="{{projeto.linkExterno}}">
    </div>
    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <input type="text" class="form-control" id="inputDescricao" name="descricao" value="{{projeto.descricao}}">
    </div>
    <label for="palavrasChaveId">Palavras-chave:</label>
    <select name="palavrasChaveId[]" id="palavrasChaveId" multiple size="5">
        {{#each palavrasChaveIds}}
            <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    <br> <br>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Editar</button>
        <a href="/projetoUsuarioCreate/{{id}}" class="btn btn-success">Adicionar Membros</a>
    </div>
        
</form>