<h2>Usuários Cadastrados</h2>
<table class="table">
  <thead>
    <tr>
      <th>Login</th>
      <th>Senha</th>
      <th>Tipo</th>
      <th>Conhecimentos</th>
      {{#if admin}}
        <th>Editar</th>
        <th>Deletar</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
      <tr>
        <th scope="row">{{login}}</th>
        <td>{{senha}}</td>
        <td>{{tipo}}</td>
        <td>
          {{#if conhecimentos}}
            {{#each conhecimentos}}
              <div>
                {{#if conhecimentoNome}}
                  {{conhecimentoNome}}
                {{else}}
                  <em>Nome não disponível</em>
                {{/if}}
                - Escala: {{escala}}
              </div>
            {{/each}}
          {{else}}
            <em>Sem conhecimentos</em>
          {{/if}}
        </td>
        {{#if ../admin}}
          <td><a href="usuarioUpdate/{{id}}">Editar</a></td>
          <td><a href="usuarioDelete/{{id}}">Deletar</a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
